/*Global*/
body {
	background: url(../img/bg.jpg);

}

.header {
	position: relative;
}

/*nav bg*/
.nav-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 9;
}

/*nav links*/

.nav {
	position: absolute;
	margin-left: 10rem;
	top: 9.25%;
}

.nav li {
	text-align: center;
	font-weight: 700;
	font-size: small;
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	display: inline;
	text-decoration: none;
	padding: 50px;
}	

.nav li:nth-child(3) {
	padding-left: 200px;
}

.nav a {
	color: black;
}


/* Orbit Slider */


#slider {
	max-width: 100%;
	position: relative;
}

.slider {
	padding: 0;
}

/*Middle bar*/

.mid-bar {
	background: rgb(232,238,239);
	text-align: center;
}

.learn-more {
	position: absolute;
	background: rgb(74,109,113);
}

.learn-more:hover {
	background: rgb(63,93,97);
}