/*Global*/
body {
	background: url(../img/bg.jpg);
	max-width: 1360px;
}

.container {
	max-width: 1360px;
	margin: 0 auto;
}

.header {
	position: relative;
}

/*menu*/
.topbar {
	width: 100%
	height: 30px;
	rgba(11,11,11,1);
}

.menu {
	position: absolute;
	width: 100%;
	height: 115px;
	background: rgba(255,255,255,0.3);
	z-index: 9;
	top: 0;
	left: 0;
	text-align: center;
}

.menu-bg {
	position: absolute;
	z-index: 999;
}

.inner {
	position: relative;
	width: 80%;
	margin 0 auto;
	display: inline-block;
}

.outer-bx-lft {
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-top: 1px solid black;
	width: 37%;
	position: absolute;
	top: 37px;
	height: 53px;
	z-index: 9999;
	left:0;
}

.inner-bx-lft {
	border-bottom: 1.5px solid black;
	border-left: 1.5px solid black;
	border-top: 1.5px solid black;
	width: 104%;
	position: absolute;
	top: 6px;
	height: 38px;
	z-index: 9999;
	
}

.outer-bx-rt {
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
	width: 37%;
	position: absolute;
	top: 37px;
	height: 53px;
	z-index: 9999;
	right:0;
}

.inner-bx-rt {
	border-bottom: 1.5px solid black;
	border-right: 1.5px solid black;
	border-top: 1.5px solid black;
	width: 104%;
	position: absolute;
	top: 6px;
	height: 38px;
	z-index: 9999;
	
}

.logo {
	position: relative;
	top: 115px;
	display: inline-block;
	background: rgba(255,255,255,0.3);
	border-radius: 0 0 90px 90px;
    -moz-border-radius: 0 0 90px 90px;
    -webkit-border-radius: 0 0 90px 90px;
	width: 150px;
	height: 70px;
}

.logo img {
	position: absolute;
	width: 150%;
	top: -130%;
	left: 0%;
}

.inner a {
	padding: 0 50px 0 50px;
	color: black;
}
/* Orbit Slider */

.orbit-container .orbit-slides-container {
	height: 674px;
}

#slider {
	max-width: 100%;
	position: relative;
}

.slider {
	padding: 0;
}

/*Middle bar*/

.mid-bar {
	position: relative;
	background: rgb(232,238,239);
	text-align: center;
}

.learn-more {
	position: absolute;
	background: rgb(74,109,113);
	left: 45%;
	top: 80%;
}

.button {
	padding: 0 2.75rem 0 2.75rem;
}

.learn-more:hover {
	background: rgb(63,93,97);
}


/*Gallery*/

.gallery {
	margin-top: 58px;
}