/*Global*/
body {
	background: url(../img/bg.jpg);
	max-width: 1360px;
}

.container {
	max-width: 1360px;
	margin: 0 auto;
	background: red;
}

.header {
	position: relative;
}

/*menu*/
.menu {
	position: absolute;
	width: 100%;
	height: 20%;
	background: rgba(255,255,255,0.3);
	z-index: 9;
	top: 0;
	left: 0;
	text-align: center;
}

.inner {
	width: 80%;
	margin 0 auto;
	display: inline-block;
}

.outer-box {
	border: 1.5px solid black;
	height: 15px;
	width: 30%;
}

.inner-box {
	border: 1.5px solid black;
}

.logo {
	position: relative;
	display: inline-block;
	top: 50%;
	background: rgba(255,255,255,0.3);
	border-radius: 0 0 90px 90px  ;
    -moz-border-radius: 0 0 90px 90px ;
    -webkit-border-radius: 0 0 90px 90px;
	width: 11rem;
	height: 5rem;
}


/* Orbit Slider */

.orbit-container .orbit-slides-container {
	height: 674px;
}

#slider {
	max-width: 100%;
	position: relative;
}

.slider {
	padding: 0;
}

/*Middle bar*/

.mid-bar {
	position: relative;
	background: rgb(232,238,239);
	text-align: center;
}

.learn-more {
	position: absolute;
	background: rgb(74,109,113);
	left: 45%;
	top: 80%;
}

.button {
	padding: 0 2.75rem 0 2.75rem;
}

.learn-more:hover {
	background: rgb(63,93,97);
}


/*Gallery*/

.gallery {
	margin-top: 58px;
}