.menu {
	position: relative;
}

.menu img {
	width: 100%;
}

#connect {
	width: 75%;
	position: absolute;
	top: 30%;
	left: 13%;
}

.midsection {
	position: relative;
	text-align: center;
}

.midsection h3 {
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 700;
	padding-top: 1%;
}

.midsection p {
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 400;
	padding: 0 20% 2% 20%;
}

label,
input, 
textarea{
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 700;
	color: rgba(11,11,11,1);
}

#email {
	float: left;
}

form {
	margin-left: 10%;
}

textarea {
	padding-bottom: 30%;
	background: rgba(240,240,240,1);
	border: none;
	box-shadow: none;
	resize: none;
	margin-top: 1%;	
}

textarea:active {
	box-shadow: none;
}

#inputstyle {
	padding-bottom: 15%;
	background: rgba(240,240,240,1);
	border: none;
	box-shadow: none;
	margin-top: 1%;
}



