
.menu {
	position: relative;
}

.menu img {
	width: 100%;
}

#connect {
	width: 75%;
	position: absolute;
	top: 30%;
	left: 13%;
}

.midsection {
	position: relative;
	text-align: center;
}

.midsection h3 {
	font-family: 'proxima_nova_rgbold';
	padding-top: 1%;
}

.midsection p {
	font-family: 'proxima_nova_rgregular';
	padding: 0 20% 2% 20%;
}

