
.menu {
	position: relative;
}

.menu img {
	width: 100%;
}

#connect {
	width: 75%;
	position: absolute;
	top: 30%;
	left: 13%;
}

.midsection {
	position: relative;
	text-align: center;
}

.midsection h3 {
	font-family: 'proxima_nova_rgbold';
	padding-top: 1%;
}

.midsection p {
	font-family: 'proxima_nova_rgregular';
	padding: 0 20% 2% 20%;
}

label,
input, 
textarea{
	font-family: 'proxima_nova_rgbold';
	color: rgba(11,11,11,1);
}

#email {
	float: left;
}

form {
	margin-left: 10%;
}

textarea {
	padding-bottom: 30%;
	background: rgba(240,240,240,1);
	border: none;
	box-shadow: none;
	resize: none;
	margin-top: 1%;
	overflow: hidden;	
}

textarea:active {
	box-shadow: none;
}

#inputstyle {
	padding-bottom: 15%;
	background: rgba(240,240,240,1);
	border: none;
	box-shadow: none;
	margin-top: 1%;
}

.senddiv {
	text-align: center;
}

.sendbtn {
	background: rgb(74,109,113);
	padding: 15px 50px;
}

.sendbtn:hover {
	background: rgb(63,93,97);
}
